{% extends 'base/base.html' %}

{% block title %}
  {{ pagename }}
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <div class="d-flex bd-highlight align-items-center">
        <h1 class="bd-highlight p-1 card-title me-2">{{ voting.name }}</h1>
        {% if today < voting.published %}
        <span class="badge bg-secondary fs-6">Не началось</span>
        {% elif today > voting.published and today < voting.finishes %}
        <span class="badge bg-primary fs-6">В прогрессе</span>
        {% elif today > voting.finishes %}
        <span class="badge bg-success ms-auto fs-6">Завершено</span>
        {% endif %}
        <p class="bd-highlight ms-auto mb-0">{{ voting.published }}</p>
      </div>
    </div>

    <form method="post" action="">
      <div class="card-body pb-0">
        {% csrf_token %}
        {{ form }}
        {% if success %}
          <p class="text-success mt-3">Жалоба отправлена</p>
        {% endif %}
      </div>
      <button
        type="submit"
        class="btn btn-primary btn-lg mt-3"
        style="width: 100%"
      >Отправить жалобу
      </button
      >
    </form>
  </div>
{% endblock %}
