{% extends 'base/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block title %}
{{ pagename }}
{% endblock %}

{% block heading %}
Редактировать опрос
{% endblock %}

{% block content %}
<div class="row">
  <div class="col">
    <div class="container">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <button type="submit" class="btn btn-primary">Сохранить</button>
        {% endbuttons %}
      </form>
      <form method="post" action="{% url 'voting_delete' pk=id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Удалить опрос</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
